<h2 [style.color]="'orange'">Login</h2>
<hr>
<div class="col-md-4">
    <div>
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)" autocomplete="off">
            
            <div class="form-group">
                
                <div class="col-md-5">
                    Username: <input id="userName" name="userName" class="form-control" type="text"
                        (ngModel)="userName">
                </div>
            </div>
            <div class="row">
                <br />
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    Password: <input type="password" class="form-control" name="password" (ngModel)="password">
                </div>
            </div>

            <div class="col-md-5">
                <input type="submit" class="btn btn-primary" value="Login">
            </div>
        </form>
    </div>

    <h3 *ngIf="hasError;then thenBlock;else elseBlock"></h3>
    <ng-template #thenBlock>
        <h3>
            Error? {{hasError}}
        </h3>
    </ng-template>

    <ng-template #elseBlock>
        <h3>
            {{greeting}}
        </h3>
    </ng-template>
</div>